
.lecture-table td, th {
    font-size: 16pt;
    border: 3px solid green;
}

#lecture-table-count tr {
    height: 120px;
}  

#lecture-table-product tr {
    height: 60px;
}  

/* Examples of fade effects */

.flash p {
  padding: 10px;
  transition: all 0.2s ease;
  /* May also need:
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
  */
}

.flash-background p {
  border: 2px solid black;
  opacity: 1;
  /*background: #ff9;*/
}

