/*
body {
    font-family: 'Open Sans', sans-ser;
}
*/

#lecture-menu-examples .blab-menu {
    width: 80%;
}

#lecture-menu-examples .menu-text-container {
    height: 0;
}

#product {
    margin-bottom: 0px; 
}

#exp {
    margin-bottom: 0px; 
}

#decimal {
    margin-bottom: 0px; 
}

#sn {
    margin-bottom: 0px; 
}

#sn td {
    border: 1px solid lightgrey;    
}


#decimal td {
    border: 1px solid lightgrey;    
}

#product td {
    border: 1px solid lightgrey;    
}

#exp td {
    border: 1px solid lightgrey;    
}


#sn {
    margin-bottom: 0px; 
}

.lecture-table td, th {
    /*font-size: 16pt;*/
    border: 1px solid green;
}

#lecture-table-decimal tr {
    height: 150px;
}  

#lecture-table-product tr {
    height: 75px;
}  

#lecture-table-exp tr {
    height: 75px;
}  


#lecture-table-sn tr {
    height: 150px;
}  

/* Examples of fade effects */

.flash p {
  padding: 10px;
  transition: all 0.2s ease;
  /* May also need:
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
  */
}

.flash-background p {
  border: 2px solid black;
  opacity: 1;
  /*background: #ff9;*/
}


.menu {
    border: 1px solid lightgrey;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.slider {
    border: 1px solid lightgrey;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    border: 1px solid lightgrey;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14pt;
    /*font-family: 'Architects Daughter', cursive;*/
}

